*{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
}
/* Header and banner */

.logo{
    font-size: 45px;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    margin: 0 51px;
    list-style: none;
}
nav li a{
    color: var(--Dark-02, #474747);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}